@use "variables" as *;
@use "typography" as *;
body {
  .v-btn {
    border-radius: 8px;

    &__prepend {
      margin-inline: -0.25rem 0.25rem !important;
    }
    &__append {
      margin-inline: 0.25rem -0.25rem !important;
    }
    &--disabled {
      opacity: 0.4 !important;
    }
  }
  .v-btn--size-x-large {
    --v-btn-height: 56px;
    --v-btn-size: 16px;
    padding: 0 16px;
  }
  .v-btn--size-large {
    --v-btn-height: 48px;
    padding: 0 16px;
    .v-btn__prepend .v-icon,
    .v-btn__append .v-icon {
      font-size: 1.5rem;
    }
  }
  .text-tertiary {
    color: $text-primary !important;
    border-color: $border-strong;
  }
  .v-btn--icon {
    &.v-btn--size-default {
      font-size: 1.3335rem;
    }
    &.v-btn--density-comfortable {
      font-size: 1rem;
    }
    &.v-btn--density-compact {
      font-size: 0.667rem;
    }
    &.icon-lg {
      width: 32px;
      height: 32px;
      .v-icon--size-default {
        font-size: 1.5rem;
      }
    }
    &.icon-md {
      width: 24px;
      height: 24px;
      .v-icon--size-default {
         font-size: 1.25rem;
      }
    }
    &.icon-sm {
      width: 16px;
      height: 16px;
      border-radius: 4px;
      .v-icon--size-default {
        font-size: 1rem;
      }
    }
  }


  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 32px 0 24px;
    .v-btn {
      padding: 0;
      min-width: auto;
      width: 24px;
      height: 24px;
    }
    .numbers {
      display: inline-flex;
      gap: 8px;
      margin: 0 4px;
      .v-btn {
        width: 30px;
        height: 30px;

        @extend .text-2;
        &.active {
          @extend .text-2-md;
          .v-btn__content {
            color: $text-primary;
          }
        }
        &__content {
          color: $text-gray;
        }
      }
    }
    &:not(.numbers) {
      .v-btn--disabled.v-btn--variant-flat .v-btn__overlay {
        opacity: 0;
      }
    }
  }
}
