@use "variables" as *;
@use "typography" as *;
body {
  .v-btn {
    border-radius: 8px;
    &.v-btn--size-x-large {
      --v-btn-height: 56px;
      --v-btn-size: 16px;
      padding: 0 16px;
    }
    &.v-btn--size-large {
     --v-btn-height: 48px;
      padding: 0 16px;
    }
    &.text-tertiary {
      color: $text-primary !important;
      border-color: $border-strong;
    }
    &__prepend {
      margin-inline: -0.25rem 0.25rem !important;
    }
    &__append {
      margin-inline: 0.25rem -0.25rem !important;
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 32px;
    .v-btn {
      padding: 0;
      min-width: auto;
      width: 24px;
      height: 24px;
    }
    .numbers {
      display: inline-flex;
      gap: 8px;
      margin: 0 4px;
      .v-btn {
        width: 30px;
        height: 30px;
        color: $text-gray;
        @extend .text-2;
        &.active {
          color: $text-primary;
           @extend .text-2-md;
        }
      }
    }
    &:not(.numbers) {
      .v-btn--disabled.v-btn--variant-flat .v-btn__overlay {
        opacity: 0;
      }
    }
  }
}
