@use "variables" as *;
@use "typography" as *;
body {
  .header {
    .v-toolbar {
      &__append {
        gap: 1rem;
      }
    }
    .v-badge {
      &__badge {
        bottom: calc(100% - 15px) !important;
        left: calc(100% - 15px) !important;
        align-items: inherit;
        line-height: 12px;
      }
    }
    .v-btn--icon {
      --v-btn-height: 2rem;
      border-radius: 50%;
    }
    .login-session {
      display: flex;
      align-items: center;
      gap: 6px;
      .timer {
        display: flex;
        align-items: center;
        width: 4.6875rem;
        @extend .text-1;
        color: $bg-default;
      }
      .v-btn {
        width: 2.75rem;
        padding: 0;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 4px;
      }
    }
  }
  .lnb {
    border-color: $border-subtle !important;
    .v-list {
      padding: 1.25rem 1rem;
      &-item {
        border-radius: 0.5rem !important;
        color: #1c1c1c;
        &__prepend {
          .v-icon {
            font-size: 2rem;
          }
        }
        &__append {
          .v-icon {
            font-size: 1rem;
          }
        }
        &--active {
          color: #4150d5;
          .v-list-item-title {
            font-weight: 600;
          }
        }
      }
      &-group {
        > .v-list-item {
          min-height: 3rem !important;
        }
        &__items {
          .v-list-item:first-child {
            margin-top: 0.25rem;
          }
          .v-list-item:last-child {
            margin-bottom: 1rem;
          }
        }
        &--open {
          .v-list-item__append {
            .v-icon {
              transform: rotate(-180deg);
            }
          }
        }
      }
      .sub-menu {
        min-height: 2.5rem !important;
      }
      .is-active {
        background: rgba(87, 101, 229, 0.1);
        color: #4150d5;
        .v-list-item-title {
          font-weight: 600;
        }
      }
    }
  }

  .v-container {
    position: relative;
    padding: 34px 24px 80px;
  }

  .v-overlay {
    align-items: center;
    justify-content: center;
  }

  .v-dialog {
    &[class*="popup-"] {
      .v-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0.75rem 0.75rem 1.5rem;
        @extend .title-2;
        border-bottom: 1px solid $border-subtle;
        .v-btn {
          margin-left: auto;
          padding: 0;
          border-radius: 50%;
        }
        &:has(:not(span)) {
          border-bottom-color: transparent;
        }
      }
      .v-card-text {
        position: relative;
        padding: 24px !important;
        .pagination {
          margin-bottom: 0;
        }
      }
      .v-card-actions {
        justify-content: center !important;
        padding: 1rem 1.5rem 1.5rem;
        &:not(:has(.v-spacer)) .v-btn {
          width: 180px;
        }
      }
      .v-data-table {
        border-radius: 4px;
        .v-table__wrapper {
          th {
            border-top: thin solid $border-subtle;
            &:first-child {
              border-radius: 4px 0 0 0;
            }
            &:last-child {
              border-radius: 0 4px 0 0;
            }
          }
          th:first-child,
          td:first-child {
            border-left: thin solid $border-subtle;
          }
          th:last-child,
          td:last-child {
            border-right: thin solid $border-subtle;
          }
          tr:last-child {
            td:first-child {
              border-radius: 0 0 0 4px;
            }
            td:last-child {
              border-radius: 0 0 4px 0;
            }
          }
        }
      }
      &:not(.popup-sm) {
        .v-card-actions {
          .v-btn {
            min-width: 82px;
            &:has(.v-btn__prepend) {
              min-width: 106px;
            }
          }
        }
      }
    }
    &.popup-sm {
      .v-card {
        width: 19.5rem;
      }
      .v-card-text {
        min-height: 80px;
        padding: 16px 24px !important;
        text-align: center;
        .alert-txt {
          display: flex;
          height: 80px;
          align-items: center;
          justify-content: center;
        }
      }
      .v-card-actions {
        padding: 1rem;
        .v-btn {
          flex: 1;
        }
      }
    }
    &.popup-md {
      .v-card {
        width: 40rem;
      }
    }
    &.popup-lg {
      .v-card {
        width: 75rem;
      }
    }

    .v-table {
      margin-top: 0 !important;
    }
  }

  .page-header {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 32px;
    margin-bottom: 62px;
    .v-btn:not(:hover) {
      --v-theme-overlay-multiplier: 0;
    }
  }
  .page-contents {
    position: relative;
    .v-snackbar {
      margin-bottom: 0 !important;
    }
  }
  .page-actions {
    margin-top: 50px;
    display: flex;
    gap: 8px;
    justify-content: center;
    &:not(:has(.v-spacer)) .v-btn {
      width: 180px;
    }
    .v-btn {
      min-width: 82px;
      &:has(.v-btn__prepend) {
        min-width: 106px;
      }
    }
  }

  .v-table {
    th {
      background: $bg-box-gray !important;
      border-bottom: none !important;
      @extend .text-2-md;
      box-shadow: none !important;
    }
    td {
      @extend .text-1;
      border-bottom: thin solid $border-subtle;
    }

    &--hover {
      .v-data-table-rows-no-data:hover > td::after {
        display: none !important;
      }
    }
    .v-empty-state {
      height: 559px;
      &__media {
        margin-bottom: 2.25rem;
      }
      &__text {
        @extend .title-2;
        font-weight: 400 !important;
      }
    }
    &.tbl-row {
      --v-table-row-height: 4.25rem;
      border-top: thin solid $border-subtle;
      th {
        text-align: center !important;
        border-bottom: thin solid $border-subtle !important;
        &.th-sub {
          background: #f8f8f8 !important;
        }
      }
      th,
      td {
        padding: 0.75rem !important;
      }
    }
    &.v-data-table {
      margin-top: 50px;
      table {
        table-layout: fixed;
      }
      td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .text-ellipsis {
        @include line-clamp(1);
      }
    }
    &.v-data-table-header__sort-icon {
      font-size: 1rem;
    }
  }

  .table-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 12px;
    .control {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    .control-total {
      @extend .title-2;
    }
    .control-input {
      display: flex;
      gap: 8px;
      height: 36px;
    }
    .btns {
      display: flex;
      gap: 12px;
    }
  }

  .popover {
    border-radius: 8px !important;
    .v-card {
      position: relative;
      min-width: 160px;
      padding: 0 8px;
      border: thin solid $border-subtle;
      .v-list-item {
        .v-list-item-title {
          @extend .text-2;
        }
        &:hover {
          border-radius: 8px;
          .v-list-item-title {
            font-weight: 600;
          }
        }
      }
    }
    .alram {
      padding: 0 0 12px;
      width: 300px;
      .v-toolbar {
        .v-toolbar-title {
          @extend .text-1-bd;
        }
        .v-btn:first-child {
          margin-inline-start: 12px;
          & + .v-toolbar-title {
            margin-left: 4px;
          }
        }
        .v-btn--icon {
          border-radius: 50%;
        }
        .v-btn:last-child {
          margin-inline-end: 12px;
        }
      }
      .v-card-text {
        height: 317px;
        overflow-y: scroll;
        padding: 8px 0 0 8px;
        .v-empty-state {
          height: 309px;
        }

        .v-list {
          padding: 0;
          margin-top: -8px;
          &-item {
            padding: 12px 16px;
            cursor: pointer;
            &-title {
              @include line-clamp(2);
              &.dot {
                position: relative;
                padding-left: 12px;

                &::before {
                  content: "";
                  position: absolute;
                  top: 6px;
                  left: 0;
                  width: 6px;
                  height: 6px;
                  border-radius: 100%;
                  background-color: $icon-red;
                }
              }
            }

            &-subtitle {
              margin-top: 6px;
              @extend .text-3; // 텍스트 스타일 확장
              color: $text-gray; // 날짜 텍스트 색상 변수
            }
          }
        }
      }
      .alram-setting {
        p {
          padding: 8px 10px;
          @extend .text-3-md;
          color: $text-point;
        }
        .switch-flip {
          padding: 0 10px;
          .v-selection-control--dirty .v-switch__track {
            background-color: $text-point !important;
          }
        }
      }
    }
    .popover-tab {
      padding: 16px 20px 8px;
      .v-chip {
        margin: 0;
        margin-right: 4px;
        border-color: $border-strong;
        color: $text-primary;
        &.selected {
          background: $bg-box-black;
          border-color: $bg-box-black;
          color: $text-on;
          font-weight: 700;
        }
      }
    }

    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      top: -6px;
      right: 12px;
      border-bottom: 8px solid #ffffff;
    }
  }
}
