@use "variables" as *;
@use "typography" as *;
body {
  .header {
    .v-toolbar {
      &__append {
        gap: 1rem;
      }
    }
    .v-badge {
      &__badge {
        bottom: calc(100% - 15px) !important;
        left: calc(100% - 15px) !important;
        align-items: inherit;
        line-height: 12px;
      }
    }
    .v-btn--icon {
      --v-btn-height: 2rem;
      border-radius: 50%;
    }
    .login-session {
      display: flex;
      align-items: center;
      gap: 6px;
      .timer {
        display: flex;
        align-items: center;
        width: 4.6875rem;
        @extend .text-1;
        color: $bg-default;
      }
      .v-btn {
        width: 2.75rem;
        padding: 0;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 4px;
      }
    }
  }

  .lnb {
    border-color: $border-subtle !important;
    .v-list {
      padding: 1.25rem 1rem;
      &-item {
        border-radius: 0.5rem !important;
        color: #1c1c1c;
        &__prepend {
          .v-icon {
            font-size: 2rem;
          }
        }
        &__append {
          .v-icon {
            font-size: 1rem;
          }
        }
        &--active {
          color: #4150d5;
          .v-list-item-title {
            font-weight: 600;
          }
        }
      }
      &-group {
        > .v-list-item {
          min-height: 3rem !important;
        }
        &__items {
          .v-list-item:first-child {
            margin-top: 0.25rem;
          }
          .v-list-item:last-child {
            margin-bottom: 1rem;
          }
        }
        &--open {
          .v-list-item__append {
            .v-icon {
              transform: rotate(-180deg);
            }
          }
        }
      }
      .sub-menu {
        min-height: 2.5rem !important;
      }
      .is-active {
        background: rgba(87, 101, 229, 0.1);
        color: #4150d5;
        .v-list-item-title {
          font-weight: 600;
        }
      }
    }
  }

  .v-container {
    position: relative;
    padding: 34px 24px;
    height: 100%;
  }

  .v-overlay {
    align-items: center;
    justify-content: center;
  }

  .page-header {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 62px;
    .v-btn:not(:hover) {
      --v-theme-overlay-multiplier: 0;
    }
  }

  .v-dialog {
    &[class*="popup-"] {
      .v-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0.75rem 0.75rem 1.5rem;
        @extend .title-2;
        border-bottom: 1px solid $border-subtle;
        .v-btn {
          padding: 0;
          border-radius: 50%;
        }
      }
      .v-card-actions {
        justify-content: center !important;
        padding: 1rem 1rem 1.5rem;
        &:not(:has(.v-spacer)) .v-btn {
          width: 180px;
        }
      }
    }
    &.popup-sm {
      .v-card {
        width: 19.5rem;
      }
      .v-card-text {
        padding: 16px 24px !important;
        text-align: center;
      }
      .v-card-actions {
        padding: 1rem;
        .v-btn {
          flex: 1;
        }
      }
    }
    &.popup-md {
      .v-card {
        width: 40rem;
      }
    }
    &.popup-lg {
      .v-card {
        width: 75rem;
      }
    }
  }

  .v-table {
    th {
      background: $bg-box-gray;
      border-bottom: none !important;
      @extend .text-2-md;
    }
    td {
      @extend .text-1;
    }
    &.tbl-row {
      --v-table-row-height: 4.25rem;
      border-top: thin solid $border-subtle;
      th {
        text-align: center !important;
      }
      th,
      td {
        padding: 0.75rem !important;
        border-bottom: thin solid $border-subtle !important;
      }
    }
  }

  .popover {
    border-radius: 8px !important;
    .v-card {
      position: relative;
      min-width: 160px;
      padding: 0 8px;
      border: thin solid $border-subtle;
      .v-list-item {
        .v-list-item-title {
          @extend .text-2;
        }
        &:hover {
          border-radius: 8px;
          .v-list-item-title {
            font-weight: 600;
          }
        }
      }
    }
    .alram {
      padding: 0 0 12px;
      width: 300px;
      .v-toolbar {
        .v-toolbar-title {
          @extend .text-1-bd;
        }
        .v-btn:first-child {
          margin-inline-start: 12px;
          & + .v-toolbar-title {
            margin-left: 4px;
          }
        }
        .v-btn:last-child {
          margin-inline-end: 12px;
        }
      }
      .v-card-text {
        height: 367px;
        overflow-y: scroll;
        padding: 8px 8px 0;
        .v-empty-state {
          height: 309px;
        }

        .v-list {
          padding: 0;
          margin-top: -8px;
          &-item {
            padding: 12px 16px;
            cursor: pointer;
            &-title {
              @include line-clamp(2);
              &.dot {
                position: relative;
                padding-left: 12px;

                &::before {
                  content: "";
                  position: absolute;
                  top: 6px;
                  left: 0;
                  width: 6px;
                  height: 6px;
                  border-radius: 100%;
                  background-color: $icon-red;
                }
              }
            }

            &-subtitle {
              margin-top: 6px;
              @extend .text-3; // 텍스트 스타일 확장
              color: $text-gray; // 날짜 텍스트 색상 변수
            }
          }
        }
      }
      .alram-setting {
        p {
          padding: 8px 10px;
          @extend .text-3-md;
          color: $text-point;
        }
        .swich-flip {
          padding: 0 10px;
        }
      }
    }
    .popover-tab {
      padding: 16px 20px 8px;
      .v-chip {
        margin: 0;
        margin-right: 4px;
        border-color: $border-strong;
        color: $text-primary;
        &.selected {
          background: $bg-box-black;
          border-color: $bg-box-black;
          color: $text-on;
          font-weight: 700;
        }
      }
    }

    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      top: -6px;
      right: 12px;
      border-bottom: 8px solid #ffffff;
    }
  }

  .v-empty-state {
    height: 100%;
    &__media {
      margin-bottom: 1.25rem;
    }
  }

  .swich-flip {
    .v-selection-control {
      justify-content: space-between;
      flex-direction: row-reverse;
      .v-label {
        padding-inline-start: 0;
        @extend .text-2;
      }
    }
    .v-selection-control--dirty {
      .v-selection-control__input {
        transform: translateX(6px) !important;
      }
    }
    .v-selection-control__input {
      transform: translateX(-6px) !important;
    }
  }



  .date-wrap {
    position: relative;
    .v-btn {
      position: absolute;
      bottom: 6px;
      right: 10px;
    }
  }

  .v-date-picker {
    border-radius: 8px;
    border: thin solid $border-subtle;

    &-month {
      padding: 0;
    }
    &-years__content {
      padding-inline: 0;
    }
    &-months__content {
      grid-gap: 0;
      padding-inline-start: 0;
      padding-inline-end: 0;
    }
    &-controls {
      padding:0 0 12px;
      justify-content: center;
      .v-spacer {
        all: unset;
      }
      > .v-btn {z-index: 1; --v-btn-height: 24px;}
      &__month {
        position: absolute;
        top: 24px;
        left: 50%;
        width: calc(100% - 3rem);
        transform: translateX(-50%);
        justify-content: space-between;
        .v-btn {
          width: 24px;
          height: 24px;
        }
        &__day {
          width: 28px;
          height: 28px;
          .v-btn.v-date-picker-month__day-btn {
            --v-btn-height: 16px;
          }
        }
      }

    }
    .v-picker {
      &__body {
        padding: 1.5rem 1.5rem 1.25rem;
      }
      &__actions {
         padding: 0 1.5rem 1.5rem ;
        justify-content: center !important;
        .v-btn {
          flex: 1;
          background: $bg-box-gray;
          --v-btn-height: 28px;
          --v-btn-size: 12px;
          &:last-child {
            background: $bg-box-black;
            color: $text-on;
          }
        }
      }
    }
  }

  .search-wrap {
    &:has(.v-form) {
      > .v-form{
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: flex-end;
      }
    }
    &:not(:has(.v-form)){
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: flex-end;
    }
    .v-input {
      padding-top: 24px;
      position: relative;
       max-width: 338px;
      flex: 1;
      .v-label {
        display: none;
      }
      &.required {
        .v-label:after {
          display: inline-block;
          content: "*";
          margin-left: 2px;
          color: #e6171b;
        }
      }
      .v-input__details {
        padding-inline: 0;
        position: absolute;
        top: 4px;
        padding: 0;
        min-height: 14px;
      }
    }
    .v-field {
      &__prepend-inner {
        color: $icon-black;
        .v-icon {
          opacity: 1;
        }
      }
      &.v-field--variant-outlined {
        .v-field__outline {
          .v-label {
            contain: unset;
            margin: 0;
            transform: unset;
            visibility: unset !important;
            opacity: 1;
            display: block;
            margin-top: -24px;
            pointer-events: stroke;
            @extend .text-3-md;
            color: $text-secondary;
          }
          .v-field__outline__notch::before {
            opacity: var(--v-field-border-opacity);
          }
        }
      }
      &.v-field--focused .v-field__outline {
        --v-field-border-width: 1px !important;
      }
    }
  }

}
