@import "mixin";
.lnb {
  border-color: #e5e5e5 !important;
  .v-list {
    padding: 1.25rem 1rem;
    &-item {
      border-radius: 0.5rem !important;
      color: #1c1c1c;
      &__prepend {
        .v-icon {
          font-size: 2rem;
        }
      }
      &__append {
        .v-icon {
          font-size: 1rem;
        }
      }
      &--active {
        color: #4150d5;
        .v-list-item-title {
          font-weight: 600;
        }
      }
    }
    &-group {
      > .v-list-item {
        min-height: 3rem !important;
      }
      &__items {
        .v-list-item:first-child {
          margin-top: 4px;
        }
        .v-list-item:last-child {
          margin-bottom: 16px;
        }
      }
      &--open {
        .v-list-item__append {
          .v-icon {
            transform: rotate(-180deg);
          }
        }
      }
    }
    .sub-menu {
      min-height: 2.5rem !important;
    }
    .is-active {
      background: rgba(87, 101, 229, 0.1);

      color: #4150d5;
      .v-list-item-title {
        font-weight: 600;
      }
    }
  }
}
