$font-family: 'Pretendard';

@mixin typography($size, $weight, $line-height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: 0;
}

.title-1 {
  @include typography(1.5rem, 700, 125%);
}

.title-2 {
  @include typography(1.125rem, 600, 125%);
}

.text-1 {
  @include typography(1rem, 400, 150%);
}

.text-1-md {
  @include typography(1rem, 600, 150%);
}

.text-1-bd {
  @include typography(1rem, 700, 150%);
}

.text-2 {
  @include typography(0.875rem, 400, 150%);
}

.text-2-md {
  @include typography(0.875rem, 600, 150%);
}
