@forward "fonts";
@forward "typography";
@forward "button";
@forward "layout";
@forward "style";

html,
body {
  //scrollbar-width: thin;
}

.is-loading {
  overflow: hidden;
  height: calc(100vh - 80px);
}

ul,
li {
  list-style: none;
}
b,
strong {
  font-weight: 600;
}
em {
  font-style: normal;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
.v-card-text {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}
