@forward "fonts";
@forward "typography";
@forward "button";
@forward "layout";
@forward "style";

html,
body {
  //scrollbar-width: thin;
}

.is-loading {
  overflow: hidden;
  height: calc(100vh - 80px);
}

b,
strong {
  font-weight: 600;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
