// Vuetify 컴포넌트 스타일
// https://vuetifyjs.com/features/sass-variables/`
@use "vuetify/settings" with (
  $font-size-root: 16px,
  $body-font-family: 'Pretendard',
  // $color-pack: false,
  $button-font-weight: 600,
  $button-text-transform: none,
  $button-text-letter-spacing: 0,
  $list-item-one-line-min-height: 45px,
  $list-item-prepend-size: 20px,
  $list-item-padding: 4px 8px,
  $list-item-icon-margin-start: 4px,
  $list-item-icon-opacity: 1,
  $list-item-subtitle-opacity: 1,
  $app-bar-background: #293248,
  $toolbar-prepend-btn-margin-start: 24px,
  $toolbar-append-btn-margin-end: 24px,
  $badge-min-width: 14px,
  $badge-height: 14px,
  $badge-padding: 0 3px,
  $badge-font-size: 0.625rem,
  $badge-font-weight: 600,
  $badge-theme:(#d32226,#fff),
  $overlay-opacity: 0.5,
  $table-header-font-weight: 600,
  $table-border-color: #e5e5e5,
  $table-row-height: 56px,
  $menu-content-border-radius: 4px,
  $menu-elevation: 0,
  $switch-inset-track-width:44px,
  $switch-inset-track-height: 24px,
  $switch-inset-thumb-width: 16px,
  $switch-inset-thumb-height: 16px,
  $switch-track-opacity: 1,
  $switch-track-background: rgb(194, 194, 194),
  $input-control-height: 44px,
  $text-field-affix-color:(rgb(0, 0, 0), 1),
  $select-content-elevation: 0,
  $list-density: ('default': 0, 'comfortable': -1, 'compact': -3),
  $input-density: ('default': -2, 'comfortable': -3, 'compact': -5),
  $button-icon-density: ('default': 3, 'comfortable': 0, 'compact': -2),
  $snackbar-elevation: 0,
  $snackbar-wrapper-margin: 24px,
);
