// Vuetify 컴포넌트 스타일
// https://vuetifyjs.com/features/sass-variables/`
@use "vuetify/settings" with (
  $font-size-root: 16px,
  $body-font-family: 'Pretendard',
  // $color-pack: false,
  $button-font-weight: 600,
  $button-text-transform: none,
  $button-text-letter-spacing: 0,
  $list-item-one-line-min-height: 52px,
  $list-item-prepend-size: 20px,
  $list-item-padding: 4px 8px,
  $list-item-icon-margin-start: 4px,
  $list-item-icon-opacity: 1,
  $app-bar-background: #293248,
  $toolbar-prepend-btn-margin-start: 24px,
  $toolbar-append-btn-margin-end: 24px,
  $badge-dot-width: 8px,
  $badge-dot-height: 8px,
  $overlay-opacity: 0.5,
  $table-header-font-weight: 600,
  $table-border-color: #e5e5e5,
  $table-row-height: 56px,
);
